<div class="container">
  <%= flash[:alert] %>
  <h4 class="mt-5 bg-light">ログイン</h4>
  <h5 class="bg-light">会員の方はこちらからログイン</h5>
  <div class="row">
    <div class="mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :"メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :"パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary mt-5" %>
        </div>
      <% end %>
    </div>
  </div>

  <h5 class="mt-5 bg-light">会員登録がお済みでない方</h5>
  <div class="row">
    <div class="mx-auto">
       <%= link_to "こちら", new_customer_registration_path %> から新規登録を行なってください。
    </div>
  </div>
</div>